### Metadonnées des éditeurs Microsoft.
**/_vti_cnf/**
**/_vti_pvt/**

### Fichiers système Windows et IIS.
**/Thumbs.db
**/desktop.ini
/web.config

### Metadonnées de l'éditeur Eclipse.
.buildpath
.project
.settings/**

### Dépendances déclarées dans le package.json
/node_modules/

### Répertoire de build
/dist/
